.header {
  width: 95%;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  background-color: #fa8072;
  position: fixed;
  top: 0;       
  left: 0;
  z-index: 100;
}


.header h1{
  color: black;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 0 15px;
}

.add-btn {
  font-size: 22px;
  padding: 8px 14px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-left: auto;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  transform: translateY(2px); 
}

.icon:hover {
  opacity: 0.8;
}
