.home-container{
    padding-top: 100px;
}

.overlay{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgba(0,0,0,0.25);
    z-index: 120;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination button {
  padding: 8px 14px;
  border: 2px solid #fa8072;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.pagination button:hover {
  background: #fa8072;
  color: white;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.active-page {
  background: #fa8072;
  color: white;
  border: 2px solid #fa8072;
}

.search{
    width: 40%;
    padding: 8px 12px;
    border-radius:20px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    background: #fff;
    margin-left: 20px;
}

.search:focus{
    border-color: #ff6b6b;
    box-shadow: 0 0 5px rgba(255, 100, 100, 0.5);
}