ul{
    list-style: none;
    padding: 0;
}

.tasklist{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.title{
    font-size: 24px;
    margin-bottom: 20px;
}

.empty-text{
    color: #666;
    font-size: 16px;
}

.task-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}

.task-grid > .task-card:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 60%; 
}

.task-card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #fa8072;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-out;
}

.task-card:hover{
    transform: scale(1.03);
}

.task-title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.badge{
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.low{
    background-color: #4caf50;
}

.medium{
    background-color: #ff9800;
}

.high{
    background-color: #f44336;
}

.status{
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.pending{
    background-color: #9e9e9e;
}

.in-progress{
    background-color: #2196f3;
}

.completed{
    background-color: #4caf50;
}

.task-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.edit-btn,
.delete-btn {
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.edit-btn {
    background-color: #4da3ff;
    color: white;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

.edit-btn:hover {
    opacity: 0.9;
}

.delete-btn:hover {
    opacity: 0.9;
}
